@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* font style start  */

.quicksand-front{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* font style end  */
:root{
    --primary-btn: #111111;
}
.body-section{
    max-width: 1160px;
    margin: 0 auto;
}
/* nav section start  */
.nav-section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 52px;
    height: 62px;
}
.text-logo1{
    font-size: 1.25rem;
    font-weight: 800;
}
.nav-links{
    display: flex;
}
.nav-links ul{
    display: flex;
    
}
.nav-links li{
    list-style-type: none;
}
.nav-links li a{
    text-decoration: none;
    margin-right: 32px;
}
.menu-var{
    display: none;
}
.nav-links .home{
    color: #FEA301;
    font-size: 1.25rem;
    font-weight: 800;
}
.nav-links .about{
    color: #01ACFD;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-links .facilities{
    color: #05D4DF;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-links .admission{
    color: #5D58EF;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-btn button{
    background-color: #FEA301;
    border: none;
    padding: 10px 50px;
    border-radius: 12px;
}
.nav-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}
/* nav section end  */
/* header-section start  */
.header-section{
    display: flex;
    align-items: center;
    gap: 50px;
    
}
.banner-title{
    font-size: 3rem;
    font-weight: 800;
}
.banner-title .color1{
    color: #FEA301;
}
.banner-title .color2{
    color: #01ACFD;
}
.banner-subtitle{
    margin-top: -18px;
    font-size: 1.25rem;
    font-weight: 400;

}
.banner-btn{
    margin-top: 24px;
    background-color:var(--primary-btn);
    border: none;
    padding: 14px 45px;
    border-radius: 12px;
}
.banner-btn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}
/* header-section end  */
/* Standard Curriculum Section start */
.standard-curriculum{
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    height: 880px;
    background-size: contain;
    
}
.standard-curriculum h2{
    text-align: center;
    font-size: 2.8rem;
    padding-top: 50px;
}
.curriculum-cards{
    display: flex;
    gap: 29px;
    align-items: center;
    
}
.curruculum-card1{
    background-image: linear-gradient(#DEF5FF , rgba(255, 255, 255, 1)30%);
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);

}
.curruculum-card1 img{
    padding-top: 50px;
    
}
.curruculum-card1 h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.curruculum-card1 p{
    padding: 0px 40px;
    line-height: 25px;
    color: #808080;
}
.read-btn1{
    padding: 30px 0;
}
.read-btn1 a{
    text-decoration: none;
    color: #64C8FF;
    font-size: 1rem;
    font-weight: 700;
    
}
/* card 1 end */
.curruculum-card2{
    background-image: linear-gradient(#FFF4DC, rgba(255, 255, 255, 1)30%);
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);

}
.curruculum-card2 img{
    padding-top: 50px;
    
}
.curruculum-card2 h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.curruculum-card2 p{
    padding: 0px 40px;
    line-height: 25px;
    color: #808080;
}
.read-btn2{
    padding: 30px 0;
}
.read-btn2 a{
    text-decoration: none;
    color: #F0AA00;
    font-size: 1rem;
    font-weight: 700;
    
}
/* card 2 end */
.curruculum-card3{
    background-image: linear-gradient(#EEE1FF, rgba(255, 255, 255, 1)30%);
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);

}
.curruculum-card3 img{
    padding-top: 50px;
    
}
.curruculum-card3 h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.curruculum-card3 p{
    padding: 0px 40px;
    line-height: 25px;
    color: #808080;
}
.read-btn3{
    padding: 30px 0;
}
.read-btn3 a{
    text-decoration: none;
    color: #8700FF;
    font-size: 1rem;
    font-weight: 700;
}
.errow{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
}
.errow .errow1{
    background-color: #FEA301;
    border-radius: 50%;
    padding: 16px 22px;
    color: #ffffff;
    font-size: 1.5rem;
}
.errow .errow2{
    background-color: #FEA301;
    border-radius: 50%;
    padding: 16px 22px;
    color: #ffffff;
    font-size: 1.5rem;
}
.errow1:hover{
    background-color: lightcoral;
}
.errow2:hover{
    background-color: lightblue;
}
/* Standard Curriculum Section end */
/* our-stories section start */
.our-stories{
    background-image:url(./assets/bg.png) ,linear-gradient(to bottom, #ffffff, rgb(253, 227, 176) 30%);
    margin-top:-120px;
    
}
.stories-title{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
}
.stories-cards{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 15px;
    margin: 0 30px;
}
.stories-card1{
    background-color: #ffffff;
    grid-row: span 2;
    border-radius: 16px;
    width: 100%;
    position: relative;
}
.stories-card1 img{
    border-radius: 10px 10px 0px 0px;
    width: 540px;
    height: 336px;
}
.stories-card1 p.date1{
    position: absolute;
    background-color:#3CD8E8;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 18px;
    border-radius: 46px; 
    top: 295px;
    left: 38px;
}
.stories-card1 .card-title1{
    padding-top: 38px;
    padding-left: 38px;
    font-size: 1.5rem;
    font-weight: 700;
}
.stories-card1 .card-description1{
    padding-top: 16px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 10px;
    color: #666666;
    font-size: 1rem;
}
/* card 1 end */
.stories-card2{
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%; 

}
.stories-card2 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 177px; 
}
.stories-card2 p.date2{
    position: absolute;
    background-color:#95B226;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 46px; 
    top: 140px;
    left: 38px;
}
.stories-card2 .card-title2{
    padding-top: 19px;
    padding-left: 38px;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}
/* card 2 end */
.stories-card3{
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%; 

}
.stories-card3 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 177px; 
}
.stories-card3 p.date3{
    position: absolute;
    background-color:#5D58F0;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 46px; 
    top: 140px;
    left: 38px;
}
.stories-card3 .card-title3{
    padding-top: 19px;
    padding-left: 38px;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}
/* card 3 end */
.stories-card4{
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%; 

}
.stories-card4 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 177px; 
}
.stories-card4 p.date4{
    position: absolute;
    background-color:#95B226;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 46px; 
    top: 140px;
    left: 38px;
}
.stories-card4 .card-title4{
    padding-top: 19px;
    padding-left: 38px;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}
/* card 4 end */
.stories-card5{
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%; 

}
.stories-card5 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 177px; 
}
.stories-card5 p.date5{
    position: absolute;
    background-color:#95B226;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 46px; 
    top: 140px;
    left: 38px;
}
.stories-card5 .card-title5{
    padding-top: 19px;
    padding-left: 38px;
    font-size: 1rem;
    font-weight: 700;
    color: #000000;
}
/* card 5 end */
.our-storis-btn{
    text-align: center;
    
}

.our-storis-btn button{  
    margin: 80px 0 50px 0;
    background-color:var(--primary-btn);
    border: none;
    padding: 14px 45px;
    border-radius: 12px;   
}
.our-storis-btn a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}
/* our-stories section end */

/* footer section start */
.footer-section{
    background-color: #01ACFD ;
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    /* padding: 80px 140px; */
    
}
.logo .text-logo{
    color: #ffffff;
    font-size: 2rem;
}
.logo-section .text-des{
    width: 300px; 
    font-size: 1rem;
    color: #ffffff;
}
.about-school{
    color: #ffffff;
    font-size: 1rem;
    padding-top: 15px;   
}
.footer-link ul li{
    list-style-type: none;
    padding-bottom: 10px;
    
    
}
.footer-link ul li a{
    text-decoration: none;
    color: #ffffff;
    
}
.icon-links h2{
    color: #ffffff;
    padding-bottom: 15px;
    padding-top: 10px;
}
.icon-links img{
    gap: 10px;
}
/* responsive section */

@media only screen and (max-width: 576px){
    .body-section{
        width: 90%;
        margin: 0 auto;
    }
    /* nav section start  */
    .nav-section{
        border-bottom: 1px solid #FEA301;
        align-items: center;
        padding-bottom: 10px;
    }
    .logo img{
        width: 46px;
        height: 46px;
        
    }
    .text-logo1{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .nav-btn{
        display: none;
    }
    .menu-var{
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        font-size: 1.2rem;
    }
    /* nav section end  */
    /* header-section start  */
    .header-section{
        flex-direction: column-reverse;
        text-align: center;
        
    }
    .image-section img{
        margin-top: 28px;
    }

    /* header-section end  */
    /* Standard Curriculum Section start */
    .curriculum-cards{
        flex-direction: column;
        padding-bottom: 50px;
        
    }
    .errow{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 70px;
    }
    .errow1:hover{
        background-color: lightcoral;
    }
    .errow2:hover{
        background-color: lightblue;
    }
    /* Standard Curriculum Section end */
    /* our-stories section start */
    .stories-card1{
        display: none;
    }
    .our-stories{
        margin-top:820px;
        
    }
    .stories-cards{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap: 15px;
        margin: 0 30px;
        
    }
    .stories-card2{
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%; 
    
    }
    .stories-card3{
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%; 
    
    }
    .stories-card4{
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%; 
    
    }
    .stories-card5{
        position: relative;
        background-color: #ffffff;
        border-radius: 10px;
        width: 100%; 
    
    }
    .stories-card2 p.date2{
        position: absolute;
        background-color:#95B226;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 14px;
        border-radius: 28px;  
        top: 140px;
        left: 20px;
    }
    .stories-card3 p.date3{
        position: absolute;
        background-color:#5D58F0;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 14px;
        border-radius: 28px;  
        top: 140px;
        left: 20px;
    }
    .stories-card4 p.date4{
        position: absolute;
        background-color:#95B226;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 14px;
        border-radius: 28px;  
        top: 140px;
        left: 20px;
    }
    .stories-card5 p.date5{
        position: absolute;
        background-color:#95B226;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 14px;
        border-radius: 28px; 
        top: 140px;
        left: 20px;
    }
    .stories-card2 .card-title2{
        padding-top: 19px;
        padding-left: 22px;
        padding-right: 42px;
        font-size: 1rem;
        font-weight: 700;
        color: #000000;
    }
    .stories-card3 .card-title3{
        padding-top: 19px;
        padding-left: 22px;
        padding-right: 42px;
        font-size: 1rem;
        font-weight: 700;
        color: #000000;
    }
    .stories-card4 .card-title4{
        padding-top: 26px;
        padding-left: 20px;
        padding-right: 30px;
        font-size: 1rem;
        font-weight: 700;
        color: #000000;
    }
    .stories-card5 .card-title5{
        padding-top: 30px;
        padding-left: 22px;
        padding-right: 30px;
        font-size: 1rem;
        font-weight: 700;
        color: #000000;
    }
    
    /* our-stories section end */
    
    .footer-section{
        padding: 20px 20px;
        
    }.footer-section{
        flex-direction: column;
        height: 100%;
        
    }
    .footer-link ul li a {
        text-align: left;
        margin-left: 0;
        
    }

}
